<div class="footer" id="footer">
  <div class="custom-container d-flex justify-content-md-between row">
    <div class="p-3 col-12 col-md-3 ">
      <img src="/assets/logo.svg" alt="" />
    </div>
    <div class="p-3 col-6 col-sm-4 col-md-3 ">
      <div class="text-gray fw_400 fs_14">Юридическое название</div>
      <div class="fw_500 fs_14">ТОО “EDUVERSE KZ”</div>
      <div class="text-gray fw_400 fs_14 mt-4">БИН</div>
      <div class="fw_500 fs_14">250140010020</div>
      <div class="text-gray fw_400 fs_14 mt-4">Адрес</div>
      <div class="fw_500 fs_14">г. Астана, Туркестан 16, #22-04</div>
    </div>
    <div class="p-3 col-6 col-sm-4 col-md-3 ">
      <div class="text-gray fw_400 fs_14">
        <a class="text-gray fw_400 fs_14" [routerLink]="''"
          >Политика оплат и возвратов
        </a>
      </div>
      <div class="text-gray fw_400 fs_14 mt-4">
        <a class="text-gray fw_400 fs_14" [routerLink]="''">
          Публичная оферта
        </a>
      </div>
      <div class="text-gray fw_400 fs_14 mt-4">
        <a class="text-gray fw_400 fs_14" [routerLink]="''">
          Календарь олимпиад на 2025-26 учебный год
        </a>
      </div>
      <div class="d-sm-none mt-4">
        <div class="text-gray fw_400 fs_14">Контакты</div>
        <div class="text-gray fw_400 fs_14 mt-4">
          <a href="mailto:info@eduverse.kz" class="text-dark">
            info&#64;eduverse.kz
          </a>
        </div>
        <div class="text-gray fw_400 fs_14 mt-4">+7 707 101 6151</div>
      </div>
    </div>
    <div class="p-3 d-none d-sm-block col-6 col-sm-4 col-md-3">
      <div class="text-gray fw_400 fs_14">Контакты</div>
      <div class="text-gray fw_400 fs_14 mt-4">
        <a href="mailto:info@eduverse.kz" class="text-dark">
          info&#64;eduverse.kz
        </a>
      </div>
      <div class="text-gray fw_400 fs_14 mt-4">
        <a href="tel:4162231985" class="text-dark"> +7 707 101 6151 </a>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-3 mt-sm-5 pt-5">
    <div class="d-flex gap-4 align-items-center fs_24">
      <a
        href="https://www.instagram.com/eduverse.kz/"
        target="_blank"
        class="text-dark"
        ><i class="fab fa-instagram"></i
      ></a>
      <a
        href="https://www.instagram.com/eduverse.kz/"
        target="_blank"
        class="text-dark"
        ><i class="fab fa-linkedin"></i
      ></a>
      <a
        href="https://www.instagram.com/eduverse.kz/"
        target="_blank"
        class="text-dark"
        ><i class="fa-brands fa-facebook-f"></i
      ></a>
      <a
        href="https://www.instagram.com/eduverse.kz/"
        target="_blank"
        class="text-dark"
        ><i class="fa-brands fa-youtube"></i
      ></a>
      <a href="https://t.me/bestys_ca" target="_blank" class="text-dark">
        <i class="fa-brands fa-telegram"></i>
      </a>
    </div>
  </div>
</div>
