ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

select {
  background-color: white;
}

.sign_in {
  background-color: #e1e0e0;
  color: #000000;
}

.register {
  background-image: linear-gradient(to right, #e78324, #fff200);
  font-weight: 600;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

.mobile-menu {
  position: fixed;
  width: 220px;
  top: 0;
  bottom: 0;
  background-color: #faf3f3;
  transition: 0.41s all ease;
}

.left-100 {
  left: -100%;
}

.left-0 {
  left: 0;
}

.menu-item {
  padding: 0.5rem;
  border-radius: 8px;
}

.menu-item:hover {
  background: linear-gradient(to right, #e78324, #e78324, #fff200);
  color: white;
}

li {
    cursor: pointer;
}

.li:hover {
    background-image: linear-gradient(to right, #e78324, #e78324, #fff200);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.select {
  appearance: none; /* убираем стандартный стиль */
  -webkit-appearance: none;
  -moz-appearance: none;
}

.ling_li:hover{
  background-color: rgba(25,103,210,255);
  color: white;
}



@media (max-width: 1165px) {
  .logo {
    display: none;
  }
}

@media (max-width: 765px) {
  .logo {
    display: inline;
  }
}

@media (max-width: 665px) {
  .logo {
    display: none;
  }
}
