<div class="partners" id="organizations">
  <div class="custom-container">
    <div class="text-center fw_300 partners-title">Мы ОФИЦИАЛЬНЫЙ ПРЕДСТАВИТЕЛЬ</div>
    <div class="text-center fw_600 partners-title">
      10 престижных международных олимпиад
    </div>
    <div class="d-flex justify-content-center">
      <div class="partners-items">
        <div class="partners-item">
          <img src="/assets/stemco.svg" alt="" />
        </div>
        <div class="partners-item">
          <img src="/assets/hippo.svg" alt="" />
        </div>
        <div class="partners-item">
          <img src="/assets/nextgen.svg" alt="" />
        </div>
        <div class="partners-item">
          <img src="/assets/horizon.svg" alt="" />
        </div>
        <div class="partners-item">
          <img src="/assets/brainiacs.svg" alt="" />
        </div>
        <div class="partners-item">
          <img src="/assets/olympiad-usa.svg" alt="" />
        </div>
        <div class="partners-item">
          <img src="/assets/spirit_of_math.svg" alt="" />
        </div>
        <div class="partners-item">
          <img src="/assets/teeneagle.svg" alt="" />
        </div>
        <div class="partners-item">
          <img src="/assets/turkish.svg" alt="" />
        </div>
        <div class="partners-item">
          <img src="/assets/copernicus.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="text-center mt-5 pt-5">
        <button class="custom-btn black-btn">Посмотреть олимпиады</button>
    </div>
  </div>
</div>
