<div class="features">
  <div class="custom-container row">
    <div class="features-title">Почему EduVerse?</div>

    <div class="row mb-5">
      <div class="col-12 col-sm-6 d-flex align-items-center mb-4">
        <div>
          <div class="features-content__title">
            Престижные<br />
            международные<br />
            олимпиады
          </div>
          <div class="features-content__desk fs_24 text-secondary mt-4">
            Мы официально представляем престижные международные олимпиады со
            всего мира (Америка, Сингапур, Англия, Австралия, Турция, итд).
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 mb-4">
        <img src="/assets/globus.svg" alt="world" class="w-100" />
      </div>
    </div>

    <div class="row my-5">
      <div class="col-12 col-sm-6 d-flex align-items-center mb-4 d-sm-none">
        <div>
          <div class="features-content__title">Удобное участие</div>
          <div class="features-content__desk fs_24 text-secondary mt-4">
            <ul>
              <li>Все олимпиады проводятся онлайн на платформе BestYs</li>
              <li>Онлайн регистрация и оплата Каспи QR</li>
              <li>Онлайн участие на дому или в школе на любом девайсе</li>
              <li>Гарантия академической честности благодаря ИИ технологиям</li>
              <li>
                Все олимпиады, задачи для подготовки, результаты и сертификаты -
                в одном месте
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="col-12 col-sm-6 ps-0 ps-sm-5 d-flex justify-content-center justify-content-sm-start"
      >
        <div
          class="student-img__wraapper position-relative"
          style="height: fit-content"
        >
          <img
            src="/assets/molodaa-devuska-ucitsa-na-plansete-s-ruckoi.svg"
            alt="world"
            class="student-img"
          />
          <div class="guarantee py-2 px-3 border gap-2">
            <img src="/assets/award.svg" alt="" class="award" />
            <div class="fw_600">Гарантия академической честности</div>
          </div>
          <div class="medals py-2 px-3 border gap-2">
            <img src="/assets/gold.svg" alt="" class="award" />
            <div class="fw_600">МЕДАЛИ</div>
          </div>
          <div class="kaspi py-2 px-3 border gap-2">
            <img src="/assets/kaspi-logo.svg" alt="" class="award" />
            <div class="fw_600">KASPI QR</div>
          </div>
        </div>
      </div>
      <div
        class="col-12 col-sm-6 d-flex align-items-center mb-4 d-none d-sm-flex"
      >
        <div>
          <div class="features-content__title">Удобное участие</div>
          <div class="features-content__desk fs_24 text-secondary mt-4">
            <ul>
              <li>Все олимпиады проводятся онлайн на платформе BestYs</li>
              <li>Онлайн регистрация и оплата Каспи QR</li>
              <li>Онлайн участие на дому или в школе на любом девайсе</li>
              <li>Гарантия академической честности благодаря ИИ технологиям</li>
              <li>
                Все олимпиады, задачи для подготовки, результаты и сертификаты -
                в одном месте
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12 col-sm-6 d-flex align-items-center mb-4">
        <div>
          <div class="features-content__title">
            Полное сопровождение<br />
            на финальные туры<br />
          </div>
          <div class="features-content__desk fs_24 text-secondary mt-4">
            Мы организовываем поездки и сопровождаем по всем вопросам: покупка
            билетов, заявки на визы, мед. страховка, консультирование и
            координация, сопровождение на протяжении всей поездки
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 mb-4 d-flex align-items-center justify-content-center">
        <img src="/assets/final-exam-result.svg" alt="world" class="final-exam-result" />
      </div>
    </div>
  </div>
</div>
