<div class="schools custom-container row">
  <div class="schools-title fw_300">НАши школы партнеры</div>
  <div class="schools-logos">
    <img src="assets/quantum.svg" alt="" class="school-logo" />
    <img src="assets/quantum-teck.svg" alt="" class="school-logo" />
    <img src="assets/astana.svg" alt="" class="school-logo" />
    <img src="assets/ngs.svg" alt="" class="school-logo" />
    <img src="assets/daryn.svg" alt="" class="school-logo" />
    <img src="assets/tamos.svg" alt="" class="school-logo" />
    <img src="assets/shokan.svg" alt="" class="school-logo" />
    <img src="assets/zaman.svg" alt="" class="school-logo" />
  </div>
  <div class="col-12 col-md-6 p-3 mb-3">
    <div class="p-4  schools-partner-benefits h-100">
        <div class="fs_24 fw_700 text-uppercase">Премущества школы-партнера</div>
        <ul class="mt-4">
            <li>Эксклюзивные скидки до 50% на отборочные туры и бесплатные поездки для олимпиадных менторов и координаторов</li>
            <li>Удобная оплата онлайн либо со счета школы через бухгалтерию</li>
            <li>Личный кабинет для администирования и аналитики (олимпиады, результаты, аппеляции, сертификаты - все в одном месте)</li>
            <li>Консультация и тех. поддержка</li>
        </ul>
    </div>
  </div>
  <div class="col-12 col-md-6 p-3 mb-3">
    <div class="p-4  schools-partner-terms h-100">
        <div class="fs_24 fw_700 text-uppercase">УСЛОВИЯ</div>
        <ul class="mt-4">
            <li>Подписать меморандум партнерства</li>
            <li>Оповестить школьное сообщество о получении статуса школы-партнера EduVerse KZ</li>
            <li>Назначить минимум одного олимпиадного координатора</li>
            <li>Принять участие на финальном туре с минимум с 30 участниками</li>
        </ul>
    </div>
  </div>
  <div class="btn-wrapper">
    <button class="custom-btn " (click)="openModal()">Стать партнером</button>
  </div>
</div>
