<div class="video custom-container">
  <div class="video-title">Как проходит отборочный тур?</div>
  <div class="video-desc">
    Участники могут участвовать в олимпиадах<br />
    со школы или дома на любом устройстве
  </div>

  <div class="video-bloxk">
    <div class="video-container">
      <iframe
        [src]="videoUrl"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        >
      </iframe>
    </div>
  </div>
</div>
