/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: "Montserrat" ,  sans-serif;
  color: #000;
}


.custom-container {
  width: calc(100% - 200px);
  margin: 0 auto;
}

.custom-btn {
  border-radius: 12px;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
}

.black-btn{
  background-color: #000;
  color: white;
  font-size: 16px;
}

.gray-btn{
  background-color: #E9E8E8;
}


.fw_300{
  font-weight: 300;
}

.fw_400{
  font-weight: 400;
}

.fw_500 {
  font-weight: 500;
}

.fw_600 {
  font-weight: 600;
}

.fw_700{
  font-weight: 700;
}

.fw_800{
  font-weight: 800;
}

.fs_14 {
  font-size: 14px;
}

.fs_18{
  font-size: 18px;
}

.fs_24{
  font-size: 24px;
}

.c_pointer{
  cursor: pointer;
}

.freeze-top{
  position: sticky;
  top: 0;
  z-index: 6;
}

.fs_16{
  font-size: 16px;
}

@media (max-width: 1000px) {
  .custom-container {
    width: 100%;
    margin: 0 auto;
    padding-inline: 1rem;
  }
}
