<div class="statistics" id="statistics">
  <div class="custom-container row">
    <div class="col-12 col-sm-5 col-md-6 d-flex align-items-center">
      <div class="statistics-title">Мы в цифрах</div>
    </div>
    <div class="col-12 col-sm-7 col-md-6 mt-4 mt-sm-0 row">
      <div class="col-6 p-3">
        <div>
          <div class="gradient_txt">24,876</div>
          <div class="text-white">Уникальных участников</div>
        </div>
        <div class="mt-5">
          <div class="gradient_txt">22</div>
          <div class="text-white">Школ-партнеров</div>
        </div>
        <div class="mt-5">
          <div class="gradient_txt">56</div>
          <div class="text-white">Проведенных отборочных туров</div>
        </div>
      </div>
      <div class="col-6 p-3">
        <div>
          <div class="gradient_txt">10</div>
          <div class="text-white">Международных олимпиад</div>
        </div>
        <div class="mt-5">
          <div class="gradient_txt">12</div>
          <div class="text-white">Финальных туров за рубежом</div>
        </div>
        <div class="mt-5">
          <div class="gradient_txt">312</div>
          <div class="text-white">Сопровожденных <br>на финальный тур</div>
        </div>
      </div>
    </div>
  </div>
</div>
